body{
  font-family: DangerMode, Calibri, Arial;
  background-image:
  linear-gradient(#03fc13,#03fcf0);
}
h1{
  text-align: center;
  font-family: Candara, Calibri, Arial;
}
#content{
  margin: auto;
  width: 500px;
  text-align: justify;
}
.segment{
padding: 10px;
border: 3px solid #000000;
margin-bottom: 10px;
}

p{
  margin-top: 0px;
}
img {
  max-width: 300px;
}
.segment .leftimg
{
  max-width: 200px;
  float: left;
  margin-right: 10px
}

.segment .rightimg
{
  float: right;
  margin: left; 10px
}

/*
The following selector only selects imgs inside of segment class
/*
